<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<p *ngIf="isFetching" class="ion-text-center">Loading...</p>-->
  <div class="spinner-wrapper">
    <ion-spinner name="lines" *ngIf="isFetching"></ion-spinner>
  </div>

  <p *ngIf="favoritesList.length === 0" class="ion-margin ion-text-center">Nothing here yet</p>

  <ion-grid *ngIf="!isFetching && favoritesList.length > 0">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of favoritesList">
            <ion-thumbnail slot="start" [routerLink]="['/', 'favorite', item.id]">
              <ion-img [src]="item.img"></ion-img>
            </ion-thumbnail>

            <div class="favorite-item__left">
              <ion-label>
                <h2>{{ item.title }}</h2>
              </ion-label>
            </div>

            <div class="favorite-item__right">
              <ion-button fill="clear" color="danger" (click)="removeItem(item.id)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
