<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<p *ngIf="isFetching" class="ion-text-center">Loading...</p>-->
  <div class="spinner-wrapper">
    <ion-spinner name="lines" *ngIf="isFetching"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isFetching">
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searchStr"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of productsList | searchProducts: searchStr"
                    [routerLink]="['/', 'products', item.id]"
                    detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="item.img"></ion-img>
            </ion-thumbnail>

            <ion-label>
              <h2>{{ item.title }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
